name: Run Cypress Tests

# Trigger workflow on push, pull request, or manual dispatch
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:  # allows manual trigger from GitHub UI

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    env:
      EMAIL: ${{ secrets.EMAIL }}
      PASSWORD: ${{ secrets.PASSWORD }} # optional, only if needed
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Run Cypress tests
        run: npx cypress run
